body, input, button {
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    color: #202124;
}

/* *** Top nav styling *** */



/* *** Search bar styling *** */




/* *** Links styling *** */
a:not(:hover) {
    text-decoration: none;
}

a:hover {
    text-underline-position: below;
}

.footer-links {
    color: #70757a;
}

.nav-links {
    padding: 5px;
    color: #202124;
}


/* *** Other styling *** */
.Google-logo-container, .footer-header{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    padding: 3%;
}

/* div {
    display: block;
} */

/* Flex items defined for top links only */
.top-nav-container {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6px;
}

/* .nav-links-right {
    display: inline-block;
    flex-grow: 1;
    flex-direction: row;
} */


.search-container {
    background-color: aquamarine;
    display: flex;
    flex-flow: column wrap;
}

/* .nav-link2 {
    margin-right: auto;
} */


/* .nav-link3, .nav-link4, .nav-link5 {
    align-self: flex-end;
} */


.search-icon {
    color:gray;
    /* display: inline-block; */
    /* fill: currentColor; */
    height: 24px;
    /* line-height: 24px; */
    /* position: relative; */
    width: 24px
}

.camera-icon {
    transform: scale(0.20);
}

.text-area-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 6px;
}


/* *** Footer styling ***  */

.footer-container {
    background-color: #f2f2f2;
    padding: 0 20px;
}

.footer-container, .footer-header, .footer-links-left, .footer-links-right {
    display: flex;
    flex-wrap: wrap;
}

/* @media only screen and (max-width: 1200px) {
    .footer-header {
        order: 0;
        width: 100%;
        justify-content: center;
    }
} */

.footer-header {
    justify-content: center;
}

.footer-links {
    display: block;
    padding: 15px;
    white-space: nowrap;
}

.footer-links-left {
    display: flex;
    flex-wrap: wrap;
}

.footer-links-right {
    display: flex;
    flex-wrap: wrap;
}

/* This is good */
.footer-leaf-image {
    height: 14px;
    margin-right: 6px;
}
